
// Colors
$cBrand: #88d2c3;
$cBrandDark20: darken($cBrand, 20%);
$cBrandDark10: darken($cBrand, 10%);
$cBrandLight25: lighten($cBrand, 25%);
$cGray9: #999;
$cPink: #e91e63;

body {
  background: $cBrandLight25;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $cGray9;
}

.btn {
  background: $cBrandDark20;
  &:hover {
    background: $cBrandDark10;
  }
}

nav {
  background: $cBrandDark10;
  .brand-logo {
    font-size: 3.1rem;
  }
}

.container.center-col {
  margin: 0 auto;
  max-width: 500px;
}

.nav-wrapper li {
  i:before {
    font-size: 26px;
  }
  i.mdi-notification-event-note:before {
    font-size: 30px;
  }
}

form {
  margin-top: 35px;
}

.input-field input[type=text].valid {
  border-bottom: 1px solid $cBrandDark20;
  box-shadow: 0 1px 0 0 $cBrandDark20;
}

.resumes i {
  font-size: 20px;
  color: $cPink;
}

.image {
  width: 100%;
  height: 450px;
  background-image: url(../images/jobber_login_blurpic.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

form.auth {
  margin-top: 10px;
  .row {
    margin: 0;
    .input-field {
      margin: 15px 0 0;
    }
  }
}

form.auth-signup {
  margin-top: 10px;
}

.file-field input.file-path {
  margin-left: 10px;
}

input.file-path {
  border: none;  // Gets rid of strange artifact on the file upload button
}

.btn.file-upload {
  padding: 0 10px;
  margin-left: 23px;
}

.register-text {
  line-height: 55px;
}

.modal.modal-fixed-footer.date-modal {
  height: 650px;
  max-height: none;
  .date-modal-content {
    padding-bottom: 338px;
  }
}

section.body {
  overflow: hidden;
  // margin-top: 40px;
  .body-title {
    margin-top: 0;
    font-size: 3rem;
  }
  .view-frame-left, .view-frame-right {
    float: left;
    width: 50%;
    // min-width: 350px;
    padding: 0 5px;
    }
  .column-header {
    overflow: hidden;
    .column-header-text {
      float: left;
      margin-left: 15px;
    }
    .adder {
      float: left;
      margin: 15px 25px;
      .btn-floating {
        background-color: $cBrandDark10;
      }
    }
  }
  .view-content {
    overflow: auto;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    background-color: white;
    &.opp-details {
      padding: 35px;
    }
    &.detail {
      padding-top: 35px;
    }
    .collection {
      margin: 0;
      .collection-item.active {
        background-color: $cBrandDark10;
      }
    }
  }
}

@media (max-width: 992px) {
  nav .brand-logo {
    display: none;
  }
  .right-override {
    float: none !important;
    margin: 0 auto;
    width: 500px;
  }
}

@media (max-width: 780px) {
  section.body .view-frame-left,
  section.body .view-frame-right {
    float: none;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .nav-label {
    display: none;
  }
  .nav-icon {
    margin-left: 15px;
  }
  .right-override {
    width: 320px;
  }
  h4 {
    font-size: 1.6rem;
  }
}
