
<div class="container">

  <!-- <h1 class="body-title">Jobs Tracker</h1> -->

  <div class="row">
    <div class="view-frame-left">
      <div class="column-header">
        <div class="column-header-text"><h4>Companies</h4></div>
        <div class="adder">
          <a ng-click="openCompanyModal()" class="waves-effect waves-circle waves-light btn-floating secondary-content">
          <i class="mdi-content-add"></i>
          </a>
        </div>
      </div>
      <div class="view-content">
        <div class="collection">
          <a ng-repeat="company in companies" ng-click="showJobs(company)" class="collection-item">{{ company.name }}</a>
        </div>
      </div>
    </div>

    <div class="view-frame-right">
      <div class="column-header">
        <div class="column-header-text"><h4>Opportunities</h4></div>
        <div class="adder">
          <a ng-click="openJobModal()" class="waves-effect waves-circle waves-light btn-floating secondary-content">
          <i class="mdi-content-add"></i>
          </a>
        </div>
      </div>
      <div class="view-content">
        <div class="collection">
          <a ng-repeat="job in jobs" ng-click="showJobDetails(job)" ng-class="{active: false}" class="collection-item">{{ job.job_title }}</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="view-frame-left">
      <div class="column-header">
        <div class="column-header-text"><h4>Opportunity Details</h4></div>
      </div>

      <div class="view-content opp-details">
        <div class="row">
          <div class="input-field col s12">
            <input ng-model="job.short_summary" id="summary" type="text" class="validate">
            <label ng-class="{active: job.short_summary}" for="summary">Summary</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input ng-model="job.lead_source" id="lead" type="text" class="validate">
            <label ng-class="{active: job.lead_source}" for="lead">Who provided the lead</label>
          </div>
        </div>
      </div>
    </div>

    <div class="view-frame-right">
      <div class="column-header">
        <div class="column-header-text"><h4>Schedule</h4></div>
        <div class="adder">
          <a ng-click="openEventModal()" class="waves-effect waves-circle waves-light btn-floating secondary-content">
          <i class="mdi-content-add"></i>
          </a>
        </div>
      </div>
      <div class="view-content">
        <div class="collection">
          <div class="collection-item"><div>{{ event.name }}<a ng-click="showEventDetails(event)" class="secondary-content">{{ event.date }}</a></div></div>
        </div>
      </div>
    </div>

  </div>


  <!-- Modal farm -->

  <div id="addCompany" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Company Setup</h4>
      <div class="row">
        <div class="input-field col s12">
          <input ng-model="company.name" id="name" type="text" class="validate">
          <label for="name">Company Name</label>
        </div>
      </div>
      <div ng-show="error" class="card-panel">
        <span class="pink-text text">{{ error }}</span>
      </div>
    </div>

    <div class="modal-footer">
      <span ng-click="submitCompany(company)" class="waves-effect waves-green btn-flat modal-action modal-close">Submit</span>
    </div>
  </div>


  <div id="addJob" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Job Setup</h4>
      <div class="row">
        <div class="input-field col s12">
          <input ng-model="job.title" id="title" type="text" class="validate">
          <label for="title">Job Title</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input ng-model="job.addr1" id="addr1" type="text" class="validate">
          <label for="addr1">Address Line1</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input ng-model="job.addr2" id="addr2" type="text" class="validate">
          <label for="addr2">Address Line2</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input ng-model="job.city" id="city" type="text" class="validate">
          <label for="city">City</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input ng-model="job.state" id="state" type="text" class="validate">
          <label for="state">State</label>
        </div>
      </div>
      <div ng-show="error" class="card-panel">
        <span class="pink-text text">{{ error }}</span>
      </div>
    </div>

    <div class="modal-footer">
      <span ng-click="submitJob(job)" class="waves-effect waves-green btn-flat modal-action modal-close">Submit</span>
    </div>
  </div>


  <div id="addEvent" class="modal modal-fixed-footer date-modal">
    <div class="modal-content date-modal-content">
      <h4>Event Setup</h4>

      <div class="row">
        <div class="input-field col s12">
          <input ng-model="event.name" id="name" type="text" class="validate">
          <label ng-class="{active: event.name}" for="name">Event Name</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="datePicker" type="date" class="datepicker">
          <label for="datePicker">Interview</label>
        </div>
      </div>

      <div ng-show="error" class="card-panel">
        <span class="pink-text text">{{ error }}</span>
      </div>
    </div>

    <div class="modal-footer">
      <span ng-click="submitEvent(event)" class="waves-effect waves-green btn-flat modal-action modal-close">Submit</span>
    </div>
  </div>




</div>

